<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.thoughtliuw.mybatisDao.CrawlerMapper">
    <insert id="insertLinksPool" parameterType="map">
        INSERT INTO
        <choose>
            <when test="tableName == 'LINKS_TO_BE_PROCESSED'">
                LINKS_TO_BE_PROCESSED
            </when>
            <otherwise>
                LINKS_ALREADY_PROCESSED
            </otherwise>
        </choose>
     VALUES(#{url})
    </insert>
    <insert id="insertNews" parameterType="com.github.thoughtliuw.entity.News">
        INSERT INTO NEWS(URL,TITLE,CONTENT,CREATEAT,UPDATEAT)
        VALUES(#{url},#{title},#{content},now(),now())
    </insert>

    <select id="countLink" resultType="int">
        SELECT count from LINKS_ALREADY_PROCESSED where LINK = #{url}
    </select>

    <select id="getNextLink" resultType="string">
        SELECT LINK FROM LINKS_TO_BE_PROCESSED LIMIT 1
    </select>

    <delete id="deleteLink">
        DELETE FROM LINKS_TO_BE_PROCESSED WHERE LINK = #{url}
    </delete>
</mapper>