<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.thoughtliuw.mybatisDao.MockDataMapper">
    <select id="selectNewsList" resultType="com.github.thoughtliuw.entity.News">
        select ID, URL, TITLE, CONTENT, CREATE_AT, UPDATE_AT
        from NEWS
        limit 2000
    </select>

    <select id="insertNews">
        INSERT INTO NEWS(URL,TITLE,CONTENT,CREATE_AT,UPDATE_AT)
        VALUES(#{url},#{title},#{content},#{createAt},#{updateAt})
    </select>
</mapper>